xml/definicoes.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT Cardapio (prato+)>
<!ELEMENT prato (nome, descricao, ingredientes+, preco, calorias, tempoPreparo)>
<!ATTLIST prato id ID #REQUIRED>

<!ELEMENT nome (#PCDATA)>

<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingredientes (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>

<!ATTLIST preco moeda (BRL|USD) "BRL">

<!ENTIFY reais "R$">

