xml/definicoesimobiliaria.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT imobiliaria (imovel+)>
<!ELEMENT imovel (descricao, proprietario, endereco, caracteristicas, valor)>
<!ELEMENT proprietario ((nome), (email|telefone)+)>
<!ELEMENT endereco (rua, bairro, cidade, numero?)>
<!ELEMENT caracteristicas (tamanho, numQuartos, numBanheiros)>

<!ELEMENT descricao (#PCDATA)>
<!ELEMENT valor (#PCDATA)>